:root{
  --margin-left: 200px;
  --background-colour: rgb(210, 215, 247);
  --text-colour: rgb(0, 9, 3);
  --text-left: left;
  --black: rbg(0, 0, 0,);
  --inline-block: inline-block;
  --block: block;
  --black-border: 5px solid black;
  --grey-border: 2px solid rgb(167, 166, 166);
  --black: rgb(0, 0, 0,);
  --white: rgb(255, 255, 255);
  --light-grey: rgb(207, 205, 205);
  --mid-grey: rgb(155, 151, 151);
  --dark-grey: rgb(70, 68, 68);
  --opaque-white: rgba(255,255,255,0.6);

}

* {
  color:var(--black);
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;  
}

.img-banner h1 {
  text-align: var(--text-left);
  position: absolute;
  top: 0;
  left: 5vw;
  color: var(--mid-grey);
  font-size: 40pt;
  text-shadow: 3px 3px rgb(40, 40, 40);
  background-color: var(--opaque-white);
  z-index: 4;
  border:var(--grey-border);
  padding: 10px;
}

.img-banner #hero-img {
  background-position: center;
  background-repeat:no-repeat;
  background-size: cover;
  position: relative;
  width: 100vw;
  height: 250px;
  opacity: 0.4;;
  overflow: hidden;
}

.img-banner h2 {
  text-align: center;
  position: absolute;
  top: 25vh;
  left: 45vw;
  background-color: var(--opaque-white);
  color: var(--dark-grey);
  z-index: 3;
  border: var(--grey-border);
  padding: 10px;
}

#nav a{
  float: right;
  color: var(--dark-grey);
  text-align: center;
  padding: 14px 16px;
  text-decoration: underline;
  font-size: 21px;
  font-weight: bold;
}

.link:hover,
.contact-links:hover {
  transform: scale(1.2);
  cursor: pointer;
  transition-timing-function: linear;
} 

.link:visited,
.contact-links:visited {
  color: rgb(227, 46, 185);
}

.section-heading {
  text-align: left;
  position: absolute;
  color:var(--dark-grey);
  font-weight: 400px;
  font-size: 36px;
}

#about {
  margin-left: 20px;
}

#work {
  margin-left: 100px;
}

#contact {
  margin-left: 10px;
  margin-right: 300px;
}

#profile-pic {
  width: 250px;
  height: auto;
  max-width: 500px;
  margin-left: 300px;
  float: left;
  padding: 20px;
  min-width: 100px;
  max-width: 300px;
}

#profile-pic:hover {
  filter: saturate(0.2);
  transform: scale(1.15);
}

.main p {
  margin-left: 300px;
  text-align: center;
  width: 70vw;
  padding-top: 35px;
  font-size: 19px;
  letter-spacing: 1.2;
}

.web-grid {
  display: inline-grid;
  justify-content: space-between;
  align-items: baseline;
  position: relative;
  grid-template-areas: repeat(4, 200px) / repeat(2, 200px);
  overflow: visible;
  width: 65vw;
  height: auto;
  margin-left: 30%;
  gap: 30px
}
  
#web1 {
  grid-area: 1 / 1 / span 2 / span 2;
}

#web2 {
  grid-area: 3 / 1 / span 1 /span 1;
}

#web3 {
  grid-area: 3 / 2 / span 1 / span 1;
}

#web4 {
  grid-area: 4 / 1 / span 1 / span 1;
}

#web5 {
  grid-area: 4 / 2 / span 1 / span 1;
}
 
#web-img1 {
  width: 95%;
  height: auto;
  border: 5px solid gray;
  justify-items: center;
}

.web-img {
  width: 400px;
  height: auto;;
  border: 5px solid gray;
  align-items: space-evenly;
  justify-content: space-evenly;
}

.web-img:hover {
  transform: scale(1.1);
}

#web-img1:hover {
  transform: scale(1.05);
}

.web-grid a {
  position: relative;
  float: center;
  background-color: rgba(255,255,255,0.8);
  color: var(--black);
  z-index: 3;
  border: 5px solid var(--mid-grey);
  padding: 20px;
  margin: 0px;
  text-align: center;
  font-size: 80pts;
}

.web-grid a:hover {
 cursor: pointer;
 background-color: var(--light-grey);
}

.info {
  display: inline-block;
  text-align: center;
  width: 100vw;
  font-size: 12pt;
  font-weight:bold;
  text-decoration: none;
}

footer p {
  position: absolute;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  width: 100%;
  padding: 10px;
  color: var(--black);
  background-color: var(--mid-grey);
}

#top-btn {
  display: visible; 
  position: fixed; 
  width: 50px;
  bottom: 20px;
  right: 30px; 
  z-index: 5; 
  border: 2px solid; 
  outline: none; 
  background-color: var(--light-grey);
  color: var(--mid-grey); 
  cursor: pointer;
  padding: 5px; 
  border-radius: 10px;
  font-weight: bold;
  text-align: center;
}

#top-btn:hover {
  background-color: var(--opaque-white);
}


@media only screen and (min-width: 320px) and (max-width: 480px) {
  #nav {
    width: 200px; float: left;
    }

  #hero-img {
    object-fit: cover;
    width: 100vw;
    height: 30px;
  } 
  
  .img-banner h2 {
    position:fixed;
  }

  #nav a {

  }

  .web-grid {

  }
  
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  #nav {
  width: 200px; float: left;
  }

  #hero-img {
    object-fit: cover;
    width: 100vw;
    height:100px;
  } 
  
  .img-banner h2 {
    margin-top: 10%;
    margin-right: 50vw
  }

  #nav a {

  }

  .web-grid {

  }

  #top-btn {
    left: 20px;
}
}