:root{
  --margin-left: 200px;
  --background-colour: rgb(210, 215, 247);
  --text-colour: rgb(0, 9, 3);
  --text-left: left;

}

* {
  color: black;
  background-color: var(--background-colour);
  box-sizing: border-box;
  margin: 5px;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;  
}

.top-banner {
  display: inline-block;
  position: relative;
  margin-top: 0px;
}

h1 {
  margin: 10px;
  color: rgb(42, 41, 41);
  font-size: 40pt;
  text-align: var(--text-left);
  text-shadow: 3px 3px rgb(250, 249, 249);
}

#nav {
  margin-left: 70%;
  color: black;
  font-size: larger;
  padding: 20px;
}

.link:hover {
  transform: scale(1.2);
  cursor: pointer;
  transition-timing-function: linear;
 } 

 .link:visited {
  color: rgb(227, 46, 185);
}

#hero-img {
  background-image: linear-gradient();
  background-repeat: none;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 250px;
  max-height: 400px;
  min-height: 200px;
  margin: 0;
  overflow: hidden;
}

.img-banner h2 {
  background-color: rgba(255,255,255,0.8);
  color: black;
  z-index: 3;
  border: 5px solid black;
  position: absolute;
  top: 50%;
  left: 65%;
  width: 30%; 
  padding: 20px;
  text-align: center;
  overflow: hidden;
  font-size: 80pts;
}

.section-heading {
  display: block;
  text-align: left;
  margin-right: 800px;
  color:rgb(62, 63, 74);
  font-weight: 400px;
  font-size: 30px;
  text-shadow: 3px 3px rgb(252, 251, 251);
}

#about 
#work 
#contact {
  display: flex;
  flex: column;
  text-align: center;
  margin-top: 500px;
}

#profile-pic {
  width: 250px;
  height: auto;
  max-width: 500px;
  margin-left: var(--margin-left);
  float: left;
  padding: 20px;
  min-width: 100px;
  max-width: 300px;
}

#profile-pic:hover {
  filter: saturate(0.2);
  transform: scale(1.15);
}

p {
  margin-left: var(--margin-left);
  text-align: center;
  width: 75%;
  padding-top: 35px;
  font-size: 18px;
  letter-spacing: 1.2;
}

.web-grid {
  display: inline-grid;
  justify-content: stretch;
  align-items: stretch;
  position: relative;
  grid-template-areas: repeat(4, 400px) / repeat(2, 400px);
  overflow: hidden;
  width: 70%;
  height: auto;
  margin-left: 20%;
}
  
#web1 {
  grid-area: 1 / 1 / span 2 / span 2;
}

#web2 {
  grid-area: 3 / 1 / span 1 /span 1;
}

#web3 {
  grid-area: 3 / 2 / span 1 / span 1;
}

#web4 {
  grid-area: 4 / 1 / span 1 / span 1;
}

#web5 {
  grid-area: 4 / 2 / span 1 / span 1;
}
 
#web-img1 {
  width: 95%;
  height: auto;
  border: 5px solid gray;
  justify-items: end;
}
.web-img {
  width: 400px;
  height: auto;;
  border: 5px solid gray;
  align-items: space-evenly;
  justify-content: space-evenly;
}

.web-img:hover
.web-img1:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.contact-links {
  display: inline-flex;
  justify-content: center;
  padding: 20px;
  margin-left: 30%;
  font-size: 12pt;
}

.web-grid a {
  background-color: rgba(255,255,255,0.5);
  color: black;
  z-index: 3;
  border: 5px solid black;
  padding: 20px;
  margin: 0px;
  text-align: center;
  font-size: 80pts;
}

footer {
  position: block;
  text-align: center;
  font-weight: bold;
  width: 100%;
  margin: 0;
  color: black;
  background-color: rgb(43, 43, 45);;
}

#top-btn {
  display: visible; 
  position: fixed; 
  width: 50px;
  bottom: 20px;
  right: 40px; 
  z-index: 5; 
  border: 2px solid; 
  outline: none; 
  background-color: rgb(200, 198, 198);
  color: rgb(62, 61, 61); 
  cursor: pointer;
  padding: 5px; 
  border-radius: 10px;
  font-weight: bold;
  text-align: center;
}

#top-btn:hover {
  background-color: rgb(95, 94, 94);
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  * {
    width: 30%;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
 * {
    width: 80%;
  }
}